.center {
    color: white;
    padding: 50px;
    background-color: rgb(255, 0, 0);
    border-radius: 16px;
    text-align: center;
    font-size: 60px;
}
.Game {
    border-radius: 0px 0px 0px 12px;
    padding: 20px;
    height: 50vw;
    background-color: #4242FA;
    display: flex;
    justify-content: center;
    align-items: center;
  }
p {
    width: 310px;
    background-color: #4242FA;
    padding: 20px;
    color: white;
    margin-left: 20px;
    font-size: 14px;
}
input {
    margin-left: 130px;
    width: 170px;
    padding: 5px;
    border: none;
    outline: none;
}